#profilo  {
    width: 100px;
    height: auto;
    display:block;
    float:center;
    margin:0 auto;
    padding: 10px;

}

#description {
    text-align: center;
    display: block;
}

.col{
    background-color: aquamarine;
    border: 5px;
    border-style: solid;
    border-color: white;
}

ul .col {
    border: 0px;
}

img{
    width: 100px;
    height: auto;
    padding: 5px;
}